html, body {
  margin: 0;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-weight: 400;
  line-height: 1.4em;
  min-height: 100vh;
}

a,
.link {
  cursor: pointer;
  color: #fff;
  text-decoration: underline;
}

.container {
  box-sizing: border-box;
  align-items: center;
  display: flex;
  margin: 0 auto;
  padding: 0 16px;
  max-width: 600px;
  min-height: 100vh;
}

.button {
  border: none;
  background-color: olivedrab;
  border-radius: 16px;
  color: #fff;
  font-size: 18px;
  line-height: 1em;
  padding: 8px 16px;
  text-decoration: none;
}

.field {
  margin-bottom: 16px;
}

.field__label,
.field__input {
  width: 100%;
}

.field__label {
  display: block;
  margin-bottom: 8px;
}

.field__input {
  box-sizing: border-box;
  line-height: 36px;
  padding: 0 8px;
}
