.paginator {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 16px 0;
}

.paginator__item:after {
  content: '|';
  margin: 0 4px;
}

.paginator__item:last-child:after {
  display: none;
}

.paginator__link {
  text-decoration: none;
}
